@font-face {
    font-family: Harper;
    src: url(url(../../Downloads/harper 2/Harper-Bold Personal Use.otf));
}

p{
    text-align: justify;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
}

h1{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-weight:normal;
    background-color: ;
    background-size: contain;
    font-size: 30px;
    align-items: baseline;
    text-align: center;
}

a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
    text-align: right;
    color:crimson;
}

canvas{
    display: block;
    margin: auto;
}